/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
/* --------------- main section ------------ */
.main-menu {
  border: 1px solid black;
  min-width: 100%;
  min-height: 100vh;
  background-color: #9abd94;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 30px;
  position: relative;
}

.main h1 {
  text-align: center;
  font-size: 66px;
  margin-bottom: 50px;
  cursor: default;
}

.main .main-btn {
  justify-content: center;
  display: block;
  margin: 30px;
  width: 500px;
  padding: 20px;
  font-size: 46px;
  color: black;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /*-------------------------------------*/
  background-size: 300% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  /*-------------------------------------*/
}

.main .main-btn:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* ------------------------------------------------------------------------- */

.side {
  width: 300px;
  text-align: center;
  margin-right: 50px;
  position: fixed;
  right: 40px;
  top: 50px;
}

/* --------------- language section ------------ */

.language h2 {
  font-size: 36px;
  margin-bottom: 20px;
  border-bottom: 3px solid black;
  cursor: default;
}

.language .language-btn {
  border-radius: 50%;
  padding: 10px;
  margin: 10px 10px 20px 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.4s ease-in-out;
}

.language .language-btn:hover {
  transform: scale(1.15);
}

.language #en {
  background-image: url(../images/United\ Kingdom\ Flag.png);
  background-size: cover;
  background-position: center;
}

.language #tr {
  background-image: url(../images/Turkey\ Flag.png);
  background-size: cover;
  background-position: left;
}

.language #nl {
  background-image: url(../images/The\ Netherlands\ Flag.png);
  background-size: cover;
  background-position: center;
}
/* --------------- rules section ------------ */

.rules h2 {
  font-size: 36px;
  margin: 30px 0;
  border-bottom: 3px solid black;
  cursor: default;
}
.rules p {
  font-size: 20px;
  cursor: default;
}

/* --------------- socual media section ------------ */

.social-media {
  text-align: center;
  padding: 20px;
  margin: 30px;
}
.social-media a i {
  margin: 0 10px;
  font-size: 50px;
  color: #333;
  transition: color 0.3s ease-in-out;
  padding: 20px;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.4s ease-in-out, text-shadow 0.5s ease-in-out;
}

.social-media a i:hover {
  transform: scale(1.25);
  text-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

/* --------------- footer section ------------ */

footer {
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  cursor: default;
}

/* --------------- game section ------------ */

.game-screen {
  background: #2c4927;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  width: 80%;
  height: 60vh;
  gap: 30px;
  padding: 60px 40px;
  background: #fff;
  border-radius: 10px;
  align-items: flex-end;
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.hangman-box {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
.hangman-box img {
  user-select: none;
  max-width: 100%;
}
.hangman-box h1 {
  font-size: 1.45rem;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
}
.game-box .word-display {
  gap: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.word-display .letter {
  width: 28px;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: uppercase;
  border-bottom: 3px solid #000;
}
.word-display .letter.guessed {
  margin: -40px 0 35px;
  border-color: transparent;
}
.game-box h4 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.game-box h4 b {
  font-weight: 600;
}
.game-box .guesses-text b {
  color: #ff0000;
}
.game-box .keyboard {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
}
:where(.game-modal, .keyboard) button {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 4px;
  text-transform: uppercase;
  background: #578151;
}
.keyboard button {
  padding: 7px;
  width: calc(100% / 9 - 5px);
}
.keyboard button[disabled] {
  pointer-events: none;
  opacity: 0.6;
}
:where(.game-modal, .keyboard) button:hover {
  background: #32612c;
}
.game-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 0 10px;
  transition: opacity 0.4s ease;
}
.game-modal.show {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.4s 0.4s ease;
}
.game-modal .content {
  padding: 30px;
  max-width: 420px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.game-modal img {
  max-width: 130px;
  margin-bottom: 20px;
}
.game-modal img[src="images/victory.gif"] {
  margin-left: -10px;
}
.game-modal h4 {
  font-size: 1.53rem;
}
.game-modal p {
  font-size: 1.15rem;
  margin: 15px 0 30px;
  font-weight: 500;
}
.game-modal p b {
  color: #5e63ba;
  font-weight: 600;
}
.game-modal button {
  padding: 12px 23px;
}

@media (max-width: 782px) {
  .container {
    flex-direction: column;
    padding: 30px 15px;
    align-items: center;
  }
  .hangman-box img {
    max-width: 200px;
  }
  .hangman-box h1 {
    display: none;
  }
  .game-box h4 {
    font-size: 1rem;
  }
  .word-display .letter {
    margin-bottom: 35px;
    font-size: 1.7rem;
  }
  .word-display .letter.guessed {
    margin: -35px 0 25px;
  }
  .game-modal img {
    max-width: 120px;
  }
  .game-modal h4 {
    font-size: 1.45rem;
  }
  .game-modal p {
    font-size: 1.1rem;
  }
  .game-modal button {
    padding: 10px 18px;
  }
}

.return-btn {
  position: absolute;
  left: 160px;
  top: 60px;
  display: block;
  margin: 30px;
  width: 150px;
  padding: 20px;
  font-size: 26px;
  color: black;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /*-------------------------------------*/
  background-size: 300% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  /*-------------------------------------*/
}

.return-btn:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* ------------------------------------------------------------------------- */
.hidden {
  display: none;
}

/* --------------- settings section ------------ */
.settings-screen {
  background: #2c4927;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* --------------- about section ------------ */
.about-screen {
  background: #2c4927;
  min-width: 100%;
  min-height: 100vh;
}

/* --------------- animations ------------ */
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-top {
  animation: slide-in-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-bottom {
  animation: slide-in-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}